.button {
  width: 140px;
  padding: 15px 10px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid transparent;
  color: white;
  font-size: 20px;
  background-color: #44bba4;
  transition: background-color 0.25s;
  &:hover {
    background-color: #3bab95;
  }
}

.accent {
  background-color: #fb9a3b;
  &:hover {
    background-color: #ec943d;
  }
}
