@import 'src/style/variables';

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  width: 400px;
  height: 200px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 5px;
  background-color: $color-secondary;
  z-index: 10;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: $color-primary;
}

.close {
  position: absolute;
  content: '';
  top: 2px;
  right: 5px;
  color: #44bba4;
  font-size: 30px;
  cursor: pointer;
  &:hover {
    color: #3bab95;
  }
}

.modal-actions {
  display: flex;
  gap: 10px;
}
