@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import 'normalize.css';
@import 'variables.scss';

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width: 100%;
  background-color: $color-primary;
}

#root {
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
}
